/public/ @dan-online @RealShadowNova
/src/ @dan-online @RealShadowNova


/.github/ @RealShadowNova
/.husky/ @RealShadowNova
/.vscode/ @RealShadowNova
/.yarn/ @RealShadowNova
LICENSE.md @eslachance
package.json @RealShadowNova
